[server default]
manager_workdir=/data/masterha/kdgis
manager_log=/data/masterha/kdgis/manager.log
user=mha_monitor
password=mha_monitor
ping_interval=5
repl_user=repl
repl_password='aaa'
master_ip_failover_script=/usr/local/bin/master_ip_failover_kdgis
#master_ip_online_change_script=/usr/local/bin/master_ip_online_change
[server1]
hostname=172.17.18.17
port=3306
#candidate_master=1
master_binlog_dir=/data/mysqlbinlog
[server2]
hostname=172.17.18.18
port=3306
candidate_master=1
master_binlog_dir=/data/mysqlbinlog
check_repl_delay=0
[server3]
hostname=172.17.118.87
master_binlog_dir=/data/mysqlbinlog
port=3306
no_master=1